In [1]:
# Module Importations
from matplotlib import pyplot as plt
import numpy as np
import pandas as pd 
import seaborn as sns

# Module versioning information
print('Numpy Version =', np.__version__)
print('Pandas Version =', pd.__version__)
print('Seaborn Version =', sns.__version__)

Numpy Version = 1.19.4
Pandas Version = 1.1.4
Seaborn Version = 0.10.0

In [2]:
# Custom Modules
from Source.Data import ntfp_dataset_import

In [3]:
# Constants

In [4]:
# Load Dataset
raw_data_df = ntfp_dataset_import.import_dataset()

<bound method NDFrame.head of         Cycles    Set-1   Set-2  Set-3   Sn_01   Sn_02    Sn_03    Sn_04  \
Engine
1            1  -0.0007 -0.0004  100.0  518.67  641.82  1589.70  1400.60
1            2   0.0019 -0.0003  100.0  518.67  642.15  1591.82  1403.14
1            3  -0.0043  0.0003  100.0  518.67  642.35  1587.99  1404.20
1            4   0.0007  0.0000  100.0  518.67  642.35  1582.79  1401.87
1            5  -0.0019 -0.0002  100.0  518.67  642.37  1582.85  1406.22
...        ...      ...     ...    ...     ...     ...      ...      ...
709        251   9.9998  0.2500  100.0  489.05  605.33  1516.36  1315.28
709        252   0.0028  0.0015  100.0  518.67  643.42  1598.92  1426.77
709        253   0.0029  0.0000  100.0  518.67  643.68  1607.72  1430.56
709        254  35.0046  0.8400  100.0  449.44  555.77  1381.29  1148.18
709        255  42.0030  0.8400  100.0  445.00  549.85  1369.75  1147.45

        Sn_05  Sn_06  ...   Sn_12    Sn_13    Sn_14   Sn_15  Sn_16  Sn_17  \
Engine                ...
1       14.62  21.61  ...  521.66  2388.02  8138.62  8.4195   0.03    392
1       14.62  21.61  ...  522.28  2388.07  8131.49  8.4318   0.03    392
1       14.62  21.61  ...  522.42  2388.03  8133.23  8.4178   0.03    390
1       14.62  21.61  ...  522.86  2388.08  8133.83  8.3682   0.03    392
1       14.62  21.61  ...  522.19  2388.04  8133.80  8.4294   0.03    393
...       ...    ...  ...     ...      ...      ...     ...    ...    ...
709     10.52  15.46  ...  380.16  2388.73  8185.69  8.4541   0.03    372
709     14.62  21.57  ...  535.02  2388.46  8185.47  8.2221   0.03    396
709     14.62  21.57  ...  535.41  2388.48  8193.94  8.2525   0.03    395
709      5.48   7.96  ...  187.92  2388.83  8125.64  9.0515   0.02    337
709      3.91   5.69  ...  134.32  2388.66  8144.33  9.1207   0.02    333

        Sn_18  Sn_19  Sn_20    Sn_21
Engine
1        2388  100.0  39.06  23.4190
1        2388  100.0  39.00  23.4236
1        2388  100.0  38.95  23.3442
1        2388  100.0  38.88  23.3739
1        2388  100.0  38.90  23.4044
...       ...    ...    ...      ...
709      2319  100.0  29.11  17.5234
709      2388  100.0  39.38  23.7151
709      2388  100.0  39.78  23.8270
709      2223  100.0  15.26   9.0774
709      2212  100.0  10.66   6.4341

[160359 rows x 25 columns]>

In [6]:
# Peek at dataset
ntfp_dataset_import.peek_dataset(raw_data_df)

        Cycles   Set-1   Set-2  Set-3   Sn_01   Sn_02    Sn_03    Sn_04  \
Engine
1            1 -0.0007 -0.0004  100.0  518.67  641.82  1589.70  1400.60
1            2  0.0019 -0.0003  100.0  518.67  642.15  1591.82  1403.14
1            3 -0.0043  0.0003  100.0  518.67  642.35  1587.99  1404.20
1            4  0.0007  0.0000  100.0  518.67  642.35  1582.79  1401.87
1            5 -0.0019 -0.0002  100.0  518.67  642.37  1582.85  1406.22

        Sn_05  Sn_06  ...   Sn_12    Sn_13    Sn_14   Sn_15  Sn_16  Sn_17  \
Engine                ...
1       14.62  21.61  ...  521.66  2388.02  8138.62  8.4195   0.03    392
1       14.62  21.61  ...  522.28  2388.07  8131.49  8.4318   0.03    392
1       14.62  21.61  ...  522.42  2388.03  8133.23  8.4178   0.03    390
1       14.62  21.61  ...  522.86  2388.08  8133.83  8.3682   0.03    392
1       14.62  21.61  ...  522.19  2388.04  8133.80  8.4294   0.03    393

        Sn_18  Sn_19  Sn_20    Sn_21
Engine
1        2388  100.0  39.06  23.4190
1        2388  100.0  39.00  23.4236
1        2388  100.0  38.95  23.3442
1        2388  100.0  38.88  23.3739
1        2388  100.0  38.90  23.4044

[5 rows x 25 columns]
<class 'pandas.core.frame.DataFrame'>
Int64Index: 160359 entries, 1 to 709
Data columns (total 25 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Cycles  160359 non-null  int64
 1   Set-1   160359 non-null  float64
 2   Set-2   160359 non-null  float64
 3   Set-3   160359 non-null  float64
 4   Sn_01   160359 non-null  float64
 5   Sn_02   160359 non-null  float64
 6   Sn_03   160359 non-null  float64
 7   Sn_04   160359 non-null  float64
 8   Sn_05   160359 non-null  float64
 9   Sn_06   160359 non-null  float64
 10  Sn_07   160359 non-null  float64
 11  Sn_08   160359 non-null  float64
 12  Sn_09   160359 non-null  float64
 13  Sn_10   160359 non-null  float64
 14  Sn_11   160359 non-null  float64
 15  Sn_12   160359 non-null  float64
 16  Sn_13   160359 non-null  float64
 17  Sn_14   160359 non-null  float64
 18  Sn_15   160359 non-null  float64
 19  Sn_16   160359 non-null  float64
 20  Sn_17   160359 non-null  int64
 21  Sn_18   160359 non-null  int64
 22  Sn_19   160359 non-null  float64
 23  Sn_20   160359 non-null  float64
 24  Sn_21   160359 non-null  float64
dtypes: float64(22), int64(3)
memory usage: 31.8 MB
None
              Cycles          Set-1          Set-2          Set-3  \
count  160359.000000  160359.000000  160359.000000  160359.000000
mean      123.331338      17.211973       0.410004      95.724344
std        83.538146      16.527988       0.367938      12.359044
min         1.000000      -0.008700      -0.000600      60.000000
25%        57.000000       0.001300       0.000200     100.000000
50%       114.000000      19.998100       0.620000     100.000000
75%       173.000000      35.001500       0.840000     100.000000
max       543.000000      42.008000       0.842000     100.000000

               Sn_01          Sn_02          Sn_03          Sn_04  \
count  160359.000000  160359.000000  160359.000000  160359.000000
mean      485.840890     597.361022    1467.035653    1260.956434
std        30.420388      42.478516     118.175261     136.300073
min       445.000000     535.480000    1242.670000    1023.770000
25%       449.440000     549.960000    1357.360000    1126.830000
50%       489.050000     605.930000    1492.810000    1271.740000
75%       518.670000     642.340000    1586.590000    1402.200000
max       518.670000     645.110000    1616.910000    1441.490000

               Sn_05          Sn_06  ...          Sn_12          Sn_13  \
count  160359.000000  160359.000000  ...  160359.000000  160359.000000
mean        9.894999      14.424935  ...     338.789821    2349.645243
std         4.265554       6.443922  ...     164.193480     111.167242
min         3.910000       5.670000  ...     128.310000    2027.570000
25%         5.480000       8.000000  ...     164.790000    2387.970000
50%         9.350000      13.660000  ...     321.690000    2388.070000
75%        14.620000      21.610000  ...     521.340000    2388.160000
max        14.620000      21.610000  ...     537.490000    2390.490000

               Sn_14          Sn_15          Sn_16          Sn_17  \
count  160359.000000  160359.000000  160359.000000  160359.000000
mean     8088.950972       9.054747       0.025185     360.698801
std        80.623257       0.751581       0.004997      31.021430
min      7845.780000       8.156300       0.020000     302.000000
25%      8070.530000       8.439250       0.020000     332.000000
50%      8118.590000       9.030100       0.030000     367.000000
75%      8139.410000       9.344200       0.030000     392.000000
max      8293.720000      11.066900       0.030000     400.000000

               Sn_18          Sn_19          Sn_20          Sn_21
count  160359.000000  160359.000000  160359.000000  160359.000000
mean     2273.754039      98.389146      25.942709      15.565700
std       142.513114       4.656270      11.691422       7.015067
min      1915.000000      84.930000      10.160000       6.010500
25%      2212.000000     100.000000      14.330000       8.601300
50%      2319.000000     100.000000      24.920000      14.953500
75%      2388.000000     100.000000      38.820000      23.294600
max      2388.000000     100.000000      39.890000      23.950500

[8 rows x 25 columns]